       <li class="content_post">
       <%= image_tag tweet.image.variant(resize: '600x600'), class: 'tweet-image' if tweet.image.attached?%>
         <div class="more_tweet">
        <ul class="more_details">
          <li>
            <%= link_to '詳細', tweet_path(tweet.id), method: :get %>
          </li>
          <% if user_signed_in? && current_user.id == tweet.user_id %>
          <li>
            <%= link_to '編集', edit_tweet_path(tweet.id), method: :get %>
          </li>
          <li>
           <%= link_to '削除', tweet_path(tweet.id), method: :delete %>
          </li>
          <% end %>
        </ul>
      </div>
      <%= tweet.title %><%= tweet.day %>
      <p><%= tweet.text %></p>
      <span class="name">
      <a href="/users/<%= tweet.user.id %>"> 
      </span>
      </a>
      </span>
      </li>
    </div>