<!DOCTYPE html>
<html>
  <head>
    <title>Matsubokkuri</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
   
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.4/css/all.css">   

    <script>
      $(document).ready(function(){
       $('.bxslider').bxSlider({
        auto: true
       });
      });
    </script>

  </head>

  <body>
  <div id="page_top"><a href="#"></a></div>
  <header class="header">
      <div class="header__bar row">
        <h1 class="grid-6">
         <a href="/">Matsubokkuri</a></h1>
         <div class="tento"><img src="/assets/camp008.png"></div>
           <% if user_signed_in? %>
           <div class="user_nav grid-6">
           <span><%= current_user.nickname %>
            <div class="user__info">
                <%= link_to "マイページ", "/users/#{current_user.id}" %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete %>
            </div>
           </span>
            <%= link_to "投稿する", new_tweet_path, class: "push" %>
          </div>
        <% else %>
          <div class="grid-6">
            <%= link_to "ログイン", new_user_session_path, class: "post" %>
            <%= link_to "新規登録", new_user_registration_path, class: "post" %>
          </div>
        <% end %>
      </div>
      </header>

    <%= yield %>
    <footer>
    
    <div class="container">
    <h1>ストップウォッチ</h1>
         <p id="timer">00:00:00</p>
     <div>
          <button id="start_stop" class="btn btn-lg
          btn-primary">START</button>
     </div>
  </div>    

     <script>
       var start;
       var timer_id;

        document.getElementById('start_stop').addEventListener
        ('click', function(){
            if(this.innerHTML === 'START') {
               start = new Date();

               timer_id = setInterval(goTimer, 10);


            ///STOPボタン
            this.innerHTML = 'STOP'
            this.classList.remove('btn-primary');
            this.classList.add('btn-danger');
            }else {
              clearInterval(timer_id);

              // STARTボタンに戻す
               this.innerHTML = 'START';
               this.classList.remove('btn-danger');
               this.classList.add('btn-primary')
            }
        });

        var addZero = function(value) {
          if (value < 10) {
              value = '0' + value;
          }
         return value;

        }

        var goTimer = function() {
            var now = new Date();

            var mi11i = now.getTime() - start.getTime();
            var seconds = Math.floor( mi11i / 1000);
            var minutes = Math.floor(seconds / 60);
            var hours = Math.floor(minutes / 60);

            seconds = seconds - minutes * 60;
            minutes = minutes - hours * 60;
            
            hours = addZero(hours);
            minutes = addZero(minutes);
            seconds = addZero(seconds);

            document.getElementById('timer').innerHTML =
            hours + ':' + minutes + ':' +seconds ;
        }
      </script> 

      <p>
        Copyright Matsubokkuri 2021.
      </p>
    </footer>
  </body>
</html>
